.navbar-toggle{
   outline: none;
   border:0;
   color:#fff;

   font-size: 40px;
}
@media(min-width:992px){
  .navbar-toggle{
    display: none;
  }
}



a.navbar-brand{
  color:#fff;
  font-size:3em;
  padding-left: 10px;
}
a.nav-link:hover{
  color:rgb(224, 139, 139) !important;
  border-bottom: 2px solid rgb(216, 154, 154);
}     
@media(max-width:990px){
  a.nav-link:hover{
    width:80px;
  }
}
    
  
    
    

.nav-item a{
    color:white !important;
}
